@media (max-width: 1300px) {
    .container {
        padding: 0 80px;
    }

    .general_h1 {
        font-size: 70px;
    }

    .general_one:after {
        left: -80px;
    }
    .general_two:before {
        right: -80px;
    }
    .about_back:before {
        left: -80px;
        right: -80px;
    }
    .about {
        grid-gap: 60px;
    }
    .about_stats {
        padding-top: 20px;
    }
}

@media (max-width: 951px) {

    .container {
        padding: 0 60px;
    }

    .general_h1 {
        font-size: 48px;
        line-height: 70px;
    }

    .general_two {
        width: 350px;
    }

    .general_two:before {
        top: 380px;
        right: -60px;
    }
    .general_one:after {
        top: 500px;
        left: -60px;
    }

    .general_play {
        top: 360px;
    }
    .general_one:after {
        left: auto;
        right: 0;
    }
    .about_back:before {
        right: -60px;
        left: -60px;
    }
    .about {
        display: block;
    }
    .about_h2 {
        display: none;
    }
}


@media (max-width: 769px) {
    .container {
        padding: 0 30px;
    }
    .general_one:after {
        left: -30px;
    }
    .general_two:before {
        right: -30px;
    }
    .general_one {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .general_two {
        margin-bottom: 70px;
        height: auto;
        grid-row-start: 1;
        grid-column-start: 2 span;
        width: 60%;
        padding-bottom: 0;
    }
    .general_play {
        right: -60px;
        left: auto;
        transform: scale(0.6);
    }
    .general_play {
        bottom: -60px;
        top: auto;
    }
    .general_h1 {
        margin-bottom: 15px;
        font-family: NotoSerif;
        font-size: 48px;
        font-weight: 400;
        line-height: 62px;
        letter-spacing: 0em;
        text-align: center;
    }
    .general_h2 {
        margin-bottom: 15px;
        font-family: Futura PT;
        font-size: 16px;
        font-weight: 450;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: center;
        
        font-family: Futura PT;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: center;
    }

    .general_p {
        margin-bottom: 30px;
        font-family: Futura PT;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: center;
    }

    .general_two:before {
        background-repeat: no-repeat;
        background-size: contain;
        width: 66%;
        top: 820px;
        left: -45px;
    }
    .general_one:after {
        width: 65%;
        top: 400px;
        background-size: contain;
        background-repeat: no-repeat;
        left: auto;
        right: -45pxpx;
        height: 100%;
    }
    .general_btn {
        z-index: 10;
    }
    .general {
        grid-gap: 0;
        grid-template-columns: 1fr;
    }
    .about_back:before {
        right: -30px;
        left: -30px;
    }
}
    @media (max-width: 540px) {
        .general_one:after {
            left: auto;
            right: -15px;
            top: 350px;
        }
    }